* {
    margin: 0;
    padding:0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4e4ba;
}

.container {
    background-color:yellow;
    color: red;
    border: 3px solid black;
    border-radius: 5%;
    padding: 2rem;
    border-radius: 1 rem;
    min-height: 45vh;
    width: 40vh;
    text-align: center;
    font-size: 20px;
}

form{
    margin: 2rem 0 1rem 0;
}

form select,input,button{
    width: 100%;
    height: 26px;
    border: none;
    outline:none;
    border-radius: 0.75rem;
}

.from select{
    text-align: center;
    background-color: beige;
    color:chocolate;
}

.to select{
    text-align: center;
    background-color: beige;
    color:chocolate;
}

.amount input{
    text-align: center;
    background-color: beige;
    font-size:20px;
    font-weight: bold;
    color:chocolate;

}

.form input{
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 3rem;
    text-align: center;
}

.dropdown{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.dropdown i{
    font-size: 1.5rem;
}

.select-container img{
    max-width: 1.85rem;
}

.select-container{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
}

.select-container{
    font-size: 1rem;
    width: auto;
}

.msg{
    margin: 2rem 0 2rem 0;
}

form button{
    height: 3rem;
    background-color: purple;
    color: #fff;
    font-size: 1.15rem;
    cursor: pointer; 
}

